@import 'media';

// Код для примера




  img{
      vertical-align: middle;
  }
  html,
  body {
    min-width: 700px;
 
    margin: 0;
    padding: 0;
 
  }

.change-color{
    color: rgb(240, 63, 63);
}


button{
    width: 180px;
    height: 50px;
    border: black solid 1px;
    background: rgb(32,32,32);
    color: white;
    text-align: center;
}


.header{
    width: 100%;
position: static;
}
.top{
   background: rgb(105, 23, 206);
        height: 57px;
        position: relative;
        &__wrap{
            margin-left: 5px;
            margin-right: 5px;
            
           position: absolute;
        top: 190%;
        right: 7%;
        transform: translate(-7%,-190%);
            width: 0;
           
            background: white;
            transition: all 0.5s ease;
            @media @tablet{
                margin-left: 5px;
                margin-right: 5px;
               position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(-5%,-50%);
                width: 0;
                background: rgb(130, 117, 250);
                transition: all 0.5s ease;
            }
            @media @desktop{
                margin-left: 5px;
                margin-right: 5px;
                
               position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(-5%,-50%);
                width: 0;
                background: rgb(130, 117, 250);
                transition: all 0.5s ease;
            }
            

          }
          &__wrap.active{
            width: 180px;
          
            transition: all 0.5s ease;
          }
          &__input{
            border: 0;
            background: transparent;
            width: 0;
            outline: none;
            font-family: sans-serif;
            font-size: 16px;
            color: #fff;
           
            transition: all 0.3s ease;
            position: relative;
          }
          &__input.active{
            width: 90%;
            padding-left: 5px;
            transition: all 0.5s 0.8s ease;
          }
          &__input::placeholder {
            color: black;
            @media @desktop {
                color: #fff;
            }
          }
    }
        .adress{
            position: absolute;
            font-size: 12px;
            
            top: 220%;
           
            transform: translate(0, -220%);  
          
            color: white;
           padding-left: 30px;
       @media @tablet {
        position: absolute;
        font-size: 10px;
        letter-spacing: 0;
        top: 50%;
       
        transform: translate(0, -50%);  
        font-family:'PT sans',sans-serif;
        color: white;
       padding-left: 35px;
    
       }
@media @desktop {
    letter-spacing: 0;
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    font-family:'PT sans',sans-serif;
    font-weight: 700;
    
    top: 50%;
   
    transform: translate(0, -50%);  
  
  
   padding-left: 35px;

    
            }
          

        }
.mobile-navigation{

    @media @tablet {
        display: none;
    }
    @media @desktop{
  display: none;
    }

}

        .logo{
       
position: absolute;
  margin-left:50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        @media @tablet {
            position: absolute;
            margin-left: 0;
            top: 50%;
        left: 50%;
            transform: translate(-50%,-50%);
        }
@media @desktop{
    position: absolute;
    margin-left: 0;
    top: 50%;
left: 50%;
    transform: translate(-50%,-50%);
}

        }
    


  
  
  
    



    
    
    .fa{
        margin-left: 10px;
        margin-right: 5px;
          height: 20px;
          width: 20px;
         position: absolute;
         right: 2%;
         top: 190%;
       transform: translate(-5%,-190%);
        cursor: pointer;
        @media @tablet {
            margin-left: 10px;
            margin-right: 5px;



              height: 20px;
              width: 20px;
             position: absolute;
             right: 2%;
             top: 50%;
             transform: translate(-5%,-50%);
            cursor: pointer;
        }
        @media @desktop{
      margin-left: 10px;
      margin-right: 5px;
        height: 20px;
        width: 20px;
       position: absolute;
       right: 2%;
       top: 50%;
       transform: translate(-5%,-50%);
      cursor: pointer;
        }
    }




        
    
    .bottom{
        background: rgb(32,32,32);
        height: 50px;
        @media @tablet{
            background: rgb(32,32,32);
            height: 35px;
        }
    @media @desktop{
        background: rgb(32,32,32);
        height: 35px;
    }
        &__menu{
          
           @media @phone{
                display:none;
            }
           
           @media @tablet {
            display: block;
background: rgb(32,32,32);    
            height: 35px;
            width: 100%;
           }
       
        @media @desktop{
            display: block;

            background: rgb(32,32,32);
            height: 35px;
            width: 69%;
            margin-left: auto;
    margin-right: auto;
        }
        }
        &__list{
         
                display:none;
                @media @tablet {
                    display: block;
                    background: rgb(32,32,32);
                   
                    padding: 0; margin: 0;
                   }
                @media @desktop{
        display: block;
            background: rgb(32,32,32);
           
            padding: 0; margin: 0;
                }
        }
        &__item{
          
                display:none;
                @media @tablet {
                    display: block;
                    float:left;
         
                    width: 11.111%;
         
                    list-style-type: none;
                }
                @media @desktop{  
                    display: block;
            float:left;
 
            width:11.111%;
 
            list-style-type: none;
                }
         }
 
         &__item :hover{
 
             background: black;
 
         }
 
 
 
         &__link{
            
                display:none;
                @media @tablet {
                    height: 35px;
 
                    display: block;
        
                   text-decoration: none;
                   font-size: 12px;
                   letter-spacing: 0px;
                   color: #cccccc;
                   font-family:'PT sans',sans-serif;
                   font-weight: 400;
        
                    text-align: center;
        
                 
        
         line-height: 30px;
                }
             @media @desktop{
             height: 35px;
 
             display: block;
 
            text-decoration: none;
            font-size: 12px;
            letter-spacing: 0px;
            color: #cccccc;
            font-family:'PT sans',sans-serif;
            font-weight: 400;
 
             text-align: center;
 
          
 
  line-height: 35px;
             }
          }
        }

.present-location{
    margin-left:35px; 
    
    margin-top: 10px;
    &__list{
        padding: 0; margin: 0;
    }
    &__item{
        float:left;
      padding-left: 5px;
        list-style-type: none;

    }
    &__link{
        margin:0;
        
        font-size: 11px;
        &_path{
            text-decoration: none;
            color:black;
            font-size: 11px;
            font-family:'PT sans',sans-serif;
        }
        &_end{
            color: red;
            font-size: 11px;
            font-family:'PT sans',sans-serif;
        }
    }
   
}
.content{
  
  
}

    
   
.main-video{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    @media @desktop{
        
        width: 66%;
        margin-left: auto;
    margin-right: auto;
    }
    &__title{
        font-size: 51px;
        margin: 0;
        padding: 0;
        margin-bottom: -40px;
        font-family:'PT sans',sans-serif;
    }
    &__container{
        width: 100%;
        height: 450px;
        position: relative;
    }
    &__discription{
        padding-top: 28px;
        font-size: 27px;
        font-family:'PT sans',sans-serif;
    }
}




.block{

 padding-bottom:30px ;

    &__title{
        width: 80%;
        font-weight: 700;
        font-family:'PT sans',sans-serif;
        font-size: 60px;
            margin-left:auto;
            margin-right: auto;
            @media @tablet{
                font-size: 60px;
                width: 80%;
            margin-left:auto;
            margin-right: auto;
            font-weight: 700;
            font-family:'PT sans',sans-serif;
            }
        @media @desktop {
            font-size: 60px;
            width: 66%;
        margin-left:auto;
        margin-right: auto;
        font-weight: 700;
        font-family:'PT sans',sans-serif;
        }
        
    }
}
    .gallery-mobile{
        text-align: center;
        width: 80%;
       margin-left:auto;
            margin-right: auto;
            @media @tablet {
                 display: none;



            }
            @media @desktop {
                display: none;

            }
            
            &__view{
          
            }
        &__list div{
            margin-top:10px;
margin-bottom: 10px;
        }
    }
    .gallery{
    
        
        
        
    display: none;
    @media @tablet{
        display: block;
        height: 180px;
          width: 100%;
    }
        @media @desktop {
            display: block;
          height: 180px;
            width: 100%;
        }
     
        &__prev{
            width: 17%;
            height: 180px;
        float: left;
        }
        &__button-prev{
            transform: translate(-50%, -50%);
            height: 30px;
width: 30px;
     position: relative;
   top: 50%;
   margin-left: 76%;
   
        }
    
   &__slider{
       
    width: 66%;
  
float: left;

   }
        
&__next{  
     width: 17%;
    height: 180px;
    float: left;
}
    &__button-next{
        transform: translate(-50%, -50%);
        height: 20px;
    width: 20px;
         position: relative;
       top: 50%;
       margin-left: 24%;
       
    }
    
        
    
    
}
    

//




.footer{
height: 350px;
padding: 0;
margin: 0;
background: rgb(32,32,32);
margin-top: 120px;
width: 100%;
@media @tablet{
    padding: 0;
    margin: 0;
   background: rgb(32,32,32);
   height: 62px;
   width: 100%;
margin-top: 120px;
}
    @media  @desktop {
        padding: 0;
        margin: 0;
       background: rgb(32,32,32);
       height: 62px;
       width: 100%;
   margin-top: 120px;
        
    }
   
    
    }
  .private-terms-mobile{
      width: 80%;
    font-size: 14px;
    height: 80px;

margin-left: 10%;
@media @tablet{
    display: none;
}
    @media @desktop {
        display: none;
    }
&__text{
    position: relative;
    top: 50%;
    font-family:'PT sans',sans-serif;
    color: #cccccc;
 transform: translate(0,-50%);
 
}
  }
  .social-mobile{
    padding-top: 40px;
    height: 80px;
    width: 80%;
    margin-left: 10%;
    @media @tablet {
        display: none;
    }
    @media @desktop {
        display: none;
  
    }
&__list{

}
    &__facebook{
        fill: #f8faf1;
        float: left;
        height: 50px;
        width: 15%;
       
    }
    &__twitter{
        fill: #f8faf1;
        float: left;
        height: 50px;
        width: 15%;

    }
    &__pinterest{
        fill: #f8faf1;
        float: left;
        height: 50px;
        width: 15%;

    }
    &__youtube{
        fill: #f8faf1;
        float: left;
        height: 50px;
        width: 15%;

    }
    &__instagram{
        fill: #f8faf1;
        float: left;
        height: 50px;
        width: 15%;

    }

}
.location-mobile{
    width: 80%;
    font-size: 14px;
    height: 80px;
    color:gainsboro;
margin-left: 10%;
@media @tablet {
    display: none;
}
    @media @desktop {
        display: none;
    }
&__text{
    position: relative;
    top: 50%;
    color: white;
 transform: translate(0,-50%);
}
   }
  

   .private-terms{
       display: none;
       @media @tablet {
        display: block;
        float: left;
    
        height: 62px;
    width: 33%;
       }
       @media @desktop {
           display: block;
        float: left;
    
        height: 62px;
    width: 33%;
       }
  
&__text{
    font-family:'PT sans',sans-serif;
    color: #cccccc;
    font-size: 10px;
    height: 62px;
 
   padding-left: 40px;
   display: table-cell;
   vertical-align: middle;
   line-height: 20px;
   
}
   }
   .social{
    display: none;
    @media @tablet{
        display: block;
        float: left;
      
           width: 33%;
    }
    @media @desktop {
        display: block;
    float: left;
  
       width: 33%;
    }
&__list{
    margin: 0 auto;
    height: 62px;
    width: 45%;
}
    &__facebook{
        fill: #f8faf1;
        float: left;
        height: 62px;
        width: 20%;
       line-height: 62px;
    }
    &__twitter{
        fill: #f8faf1;
        float: left;
        height: 62px;
        width: 20%;
        line-height: 62px;

    }
    &__pinterest{
        fill: #f8faf1;
        float: left;
        height: 62px;
        width: 20%;
        line-height: 62px;

    }
    &__youtube{
        fill: #f8faf1;
        float: left;
        height: 62px;
        width: 20%;
        line-height: 62px;

    }
    &__instagram{
        fill: #f8faf1;
        float: left;
        height: 62px;
        width: 20%;
        line-height: 62px;

    }

}



   
   .location{
    display: none;
    @media @tablet{
        display: block;
        float:right;
    width:33%;
       height: 62px;
   
   text-align: right;
    }
    @media @desktop {
        display: block;
     float:right;
 width:33%;
    height: 62px;

text-align: right;
    }
&__text{
    margin-left: auto;
    margin-right: auto;
    font-family:'PT sans',sans-serif;
    color: #cccccc;
   padding-right: 20px;
    float:right;
    font-size: 12px;
    font-family:'PT sans',sans-serif;
    
        position: relative;
    top: 50%;
   
 transform: translate(0,-50%)
      
}
   }


 


.your-class{
    padding:0;
    margin:0;
}
/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}
.prev{
 
    transform: rotate(90deg);
  
}
.next{
   
    transform: rotate(270deg);
  
   
}

#choice{
    display: none;
  }
  .hidden-menu{

    display: block;
   position: relative;
    padding  : 10px;
    margin : 0;
    box-sizing: border-box;
    width: 300px;
    background-color: rgb(32,32,32);
    border:2px solid rgb(97, 95, 95);
  
left : -300px;
transition: left .2s;
z-index:  2; 

  }

  .choice-container{
    color: #fff;
    background-color: rgb(105, 23, 206);
    padding: 5px 5px 10px 5px;
    position: absolute;
    top :50% ;
    transform: translate(0, -50%);
    left :20px;
    cursor: pointer;
    transition: left.25s;
    z-index: 5;
    width: 30px;
  }
  .choice-container span{
    display: block;
    height: 5px;
    background-color:#fff;
    margin: 5px 0 0;
    transition :all .1s linear .25s;
    position: relative;
  } 
  #choice:checked ~ .choice-container{
    
   
   background: rgb(32,32,32);
  }
  #choice:checked ~ .hidden-menu{
    left: 0;
  }
  #choice:checked ~ .choice-container .button-choice_1{
    -webkit-transform: rotate(45deg);
    top: 10px;
  }
  #choice:checked ~ .choice-container .button-choice_2{
    opacity: 0;
  }
  #choice:checked ~ .choice-container .button-choice_3{
    -webkit-transform: rotate(135deg);
    top: -10px;
  }


.hidden-menu__title{
    width: 100%;
    height: 45px;
}

  .menu__item {
          
width: 100%;

list-style-type: none;
    }


    .menu__item  :hover{

 background: black;

}



.menu__link {


 height: 45px;

 display: block;
 width: 100%;
text-decoration: none;
font-size: 14px;

 text-align: center;

 color:white;

line-height: 45px;
 }
 
 .menu__link  :hover{

    background: black;
   
   }
   #near-salon{
       font-weight: 0;

   }
   .play-main{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:0.5;
}
.play-container{
    width: 100%;
    height: 200px;
    position: relative;
}
.play{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:0.5;
}
.play-mobile-container{
    width: 100%;
    height: 300px;
    position: relative;
}
.play-mobile{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:0.5;
}